@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.maateen.me/solaiman-lipi/font.css");
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.bangla {
  font-family: "SolaimanLipi", Arial, sans-serif;
}
.swal-title{
  font-size: 20px;
  color: #000;
}
.swal-button{
  background: #000;
}